/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
    color: #333;
    /* Cor do texto padrão */
}

/* Estilos para o cabeçalho */
.navbar {
    background-color: #333;
    /* Cor de fundo da barra de navegação */
    margin-bottom: 20px;
    border-bottom: 3px solid #bf0000;
    /* Linha de separação na parte inferior do cabeçalho */
    transition: background-color 0.3s;
    /* Efeito de transição suave */
    position: relative;
}

.navbar-brand {
    font-size: 2rem;
    /* Tamanho maior para o logotipo */
    font-weight: bold;
    margin-right: 20px;
    color: #daec0f;
    /* Cor do texto do logotipo */
    transition: color 0.3s;
    /* Efeito de transição suave para a cor do logotipo */
}

.navbar-brand:hover {
    color: #fff;
    /* Cor do texto do logotipo ao passar o mouse */
}

/* Estilos para o botão de impressão */
#printButton {
    margin-top: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    /* Aumenta o tamanho do botão */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-transform: uppercase;
    /* Transforma o texto em maiúsculas */
}

#printButton:hover {
    background-color: #0056b3;
}

/* Estilos para as cartas */
.card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombras mais suaves */
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    height: 100%;
    /* Definindo altura fixa */
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
    /* Eleva a carta ao passar o mouse */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    /* Sombra maior no hover */
}

.card-title {
    font-size: 1.2rem;
    /* Tamanho do título da carta */
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-size: 1rem;
    /* Tamanho do texto da carta */
    color: #555;
    margin-bottom: 10px;
    flex-grow: 1;
    /* Permite que o texto ocupe o espaço restante na carta */
}

/* Estilos para a barra de rolagem */
body::-webkit-scrollbar {
    width: 10px;
    /* Largura da barra de rolagem */
    background-color: #f1f1f1;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
    /* Cor do fundo da trilha da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Cor do botão de rolagem */
    border-radius: 5px;
    /* Borda arredondada do botão de rolagem */
}

/* Adiciona um efeito suave ao passar o mouse sobre a barra de rolagem */
body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Estilos para o botão de favoritar */
.card .card-body .btn {
    margin-top: auto;
    /* Coloca o botão na parte inferior da card-body */
    background-color: #28a745;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    /* Tamanho fixo do botão */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: center;
}

.card .card-body .btn:hover {
    background-color: #218838;
}

/* Estilos responsivos para telas com largura máxima de 768px */
@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
        /* Espaçamento inferior reduzido para cartas em telas menores */
    }

    #categoryFilterContainer {
        margin-bottom: 20px;
        /* Margem inferior adicional para o container de filtro de categoria em telas menores */
    }

    .d-none {
        display: none !important;
        /* Oculta elementos com a classe .d-none em telas menores */
    }
}

/* Estilos para telas maiores que 768px */
@media (min-width: 769px) {
    .card {
        margin-bottom: 30px;
        /* Espaçamento inferior padrão para cartas em telas maiores */
    }

    #categoryFilterContainer {
        margin-bottom: 30px;
        /* Margem inferior padrão para o container de filtro de categoria em telas maiores */
    }

    .d-none {
        display: block !important;
        /* Exibe elementos com a classe .d-none em telas maiores */
    }
}

/* Estilos para o rodapé */
.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    /* Tamanho da fonte */
}

/* Estilos para os links no rodapé */
.footer a {
    color: #daec0f;
    /* Cor dos links no rodapé */
    text-decoration: none;
    transition: color 0.2s;
}

.footer a:hover {
    color: #bbd308;
    /* Cor dos links no rodapé ao passar o mouse */
}

/* Estilo para o ícone do botão de navegação */
.navbar-toggler-icon {
    background-color: transparent;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    position: relative;
    transition: transform 0.3s, opacity 0.3s;
    display: block;
}

/* Estilo das barras horizontais do ícone */
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: "";
    background-color: #333;
    width: 60px;
    height: 10px;
    border-radius: 2px;
    position: relative;
    transition: transform 0.3s, opacity 0.3s;
}

/* Estilo das barras horizontais do ícone */
.navbar-toggler-icon::before {
    top: -8px;
    transform-origin: 0 0;
}

.navbar-toggler-icon::after {
    top: 8px;
    transform-origin: 0 100%;
}

/* Efeito de animação ao passar o mouse sobre o botão */
.navbar-toggler-icon:hover {
    transform: rotate(90deg);
}

.navbar-toggler-icon:hover::before {
    transform: translateY(0) rotate(45deg);
    opacity: 0.7;
}

.navbar-toggler-icon:hover::after {
    transform: translateY(0) rotate(-45deg);
    opacity: 0.7;
}

/* Estilos para a impressão */
@media print {
    .printable-card {
        border: 1px solid #ccc;
        margin: 1rem;
        padding: 1rem;
        box-shadow: none;
        page-break-inside: avoid;
        max-width: 100%;
        /* Garanta que o conteúdo não exceda o tamanho da página */
    }

    .printable-title {
        font-size: 1.2rem;
        /* Reduza o tamanho da fonte do título */
    }

    .printable-text {
        font-size: 1rem;
        /* Reduza o tamanho da fonte do texto */
    }
}
/* Estilos para a área da imagem e vídeo */
.card-image {
    position: relative;
    cursor: pointer;
}

/* Estilos para a área da imagem e vídeo */
.card-image {
    position: relative;
    cursor: pointer;
}

/* Estilos para a área da imagem e vídeo */
.card-image {
    position: relative;
    cursor: pointer;
}

/* Estilo padrão para ocultar o vídeo */
.video-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda a largura do elemento pai */
    height: 100%; /* Ocupa toda a altura do elemento pai */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro para o vídeo */
    transition: opacity 0.3s; /* Efeito de transição suave */
}

/* Estilo para o vídeo quando visível */
.video-container video {
    width: 100%; /* Ocupa toda a largura do elemento pai */
    height: 100%; /* Ocupa toda a altura do elemento pai */
    opacity: 0; /* Começa invisível */
}

/* Efeito de transição de fade-in para o vídeo */
.card-image:hover .video-container {
    display: block;
}

.card-image:hover .video-container video {
    opacity: 1; /* Torna-se visível com transição */
}
